*{
    margin : 0;
    padding:0;
    box-sizing:border-box;
    font-family:"Arial sans-serif";
}
body{
    background: #f4f4f4;
}
.container{
    width:350px;
    margin:80px auto;
    background: white;
    padding:25px;
    border-radius: 8px;
    box-shadow:0 2px 8px rgba(0,0,0,1);
}
h2{
    text-align:center;
    margin-bottom:20px;
}
input{
    width:100%;
    padding:10px;
    margin:10px 0;
}
button{
    width:100%;
    padding:10px;
    background: #2563eb;
    color:white;
    border:none;
    cursor:pointer;
}
button:hover{
    background: #1d4ed8;
}
p{
    text-align: center;
    margin-top:15px;
}
.dashboard{
    width:80%;
    margin:40px auto;
}
.dashboard h1{
    margin-bottom:20px;
}
.add-lists{
    display:flex;
    gap:10px;
    margin-bottom:20px;
}
.add-list input{
    flex:1;
}
.card{
    background: white;
    padding:15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
    color:black;
}
.card button{
    display:inline-block;
    width:100px;
    margin-top:10px;
    background: red;
    cursor:pointer;
    color:white;
    border:none;
    padding:8px 14px;
}